html {height:100vh;}

body {
	background: #fafafa;
	font-size: 100%;
	line-height: 1.5;
	color: #555555;
	vertical-align: baseline;
	padding: 0;
	margin: 0 auto;
	height: 100vh;
}

.card {border: none; 
	margin-bottom: 1rem;
}

.card-body {padding: 0;}

.btn {margin-top: 0.5rem;}

h1, h2, h3, h4, h5, h6 {
	font-family: "fira-sans", "league-gothic", Verdana, "Arial Black", sans-serif;
}

h2 {margin-top: 2rem;}

h3 {display: inline;}

h6 {padding-bottom: 1rem;}

ul li {
	list-style: none;
	margin-bottom: 0.25rem;
}

footer {
	background: #000000;
	margin: 3rem auto 0 auto;
	padding: 2.5rem 1rem 2rem 1rem;
	text-align: center;
	color: #999999;
}

#contact p {display: inline;}

/* 		Extra large devices (large desktops, 1200px and up)	*/
@media (min-width: 1200px) {

	.container-fluid {max-width: 65rem;} /* 1200px / 16px = 75em -12em (6em padding on R and L) */

}
